---
import "../styles/global.css";
import HeroSection from "../components/heroSection.astro";
import NeuroCiencia from "../components/neuroCiencia.astro";
import Influenciadores from "../components/influenciadores.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Perfume Attracione Men</title>
    <!-- Bootstrap CSS -->
  </head>
  <body data-name="landingPage">
    <!-- Bootstrap JS (opcional, se precisar de componentes interativos) -->
    <script
      type="module"
      src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
      async></script>

    <main id="landingPage">
      <!-- Hero section -->
      <HeroSection />

      <!-- Neurociência  -->
      <NeuroCiencia />

      <!-- Influenciadores  -->
      <Influenciadores />
    </main>
  </body>
</html>

<style>
  /* Seu código CSS aqui  */
</style>
